<html>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <div id="app">
        {{message}}
            <select v-model="years_selected" id="year"/>
                <option v-for="year in years" :value="year.value">{{ year.text }}
            </select>
        <label>年</label>
            <select v-model="months_selected" id="month" v-on:change="onChange"/>
                <option v-for="month in months" :value="month.value">{{ month.text }}
            </select>
        <label>月</label>
            <select id="day" />
                <option v-for="day in days" :value="day">{{ day }}
            </select>
        <label>日</label>
    </div>
    <script src="./js/vue.js"></script>
    <script src="./js/days.js"></script>
</html>